@import url("https://fonts.googleapis.com/css?family=Oswald:400,600|Sacramento|Source+Sans+Pro:300&subset=latin-ext");
/* Variables */
/* Global */
*, *::before, *::after {
  box-sizing: border-box;
}

.logo {
  color: #7ed6df;
}

body {
  background-color: #fff;
  font-family: "Source Sans Pro", sans-serif;
  color: #444;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.8;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #444;
}

a, li {
  transition: .3s all;
}

a:hover, li:hover {
  color: #ff7979;
}

.section-title {
  font-size: 22px;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  color: #7ed6df;
  font-weight: 600;
}

.section-title span {
  text-transform: none;
  font-weight: 400;
  color: #777777;
}

/* Layout */
.wrapper {
  display: flex;
  margin-left: 10px;
}

.sidebar {
  flex: 1 0 0;
}

.posts {
  flex: 2 0 0;
  position: relative;
}

.sidebar, .posts {
  margin: 40px;
  margin-right: 50px;
}

.posts {
  line-height: 1.9;
}

.sidebar {
  font-size: 18px;
}

/* Logo */
.logo {
  font-family: "Sacramento", cursive;
  font-weight: 400;
  font-size: 104px;
  line-height: 1;
  text-align: center;
}

/* Lists */
.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list li {
  padding: 20px 20px 20px 0;
}

.list .active {
  font-weight: bold;
  color: #ff7979;
}

.list-horizontal li {
  display: inline-block;
}

/* Authors */
.authors li {
  margin-bottom: 12px;
}

/* Post */
.post {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: 1s all linear;
}

.post.active {
  opacity: 1;
  z-index: 1;
}

.post-author {
  font-style: italic;
}

.post-tags {
  display: flex;
}

.post-tags p {
  margin: 0 10px 0 0;
}
