@import url('https://fonts.googleapis.com/css?family=Oswald:400,600|Sacramento|Source+Sans+Pro:300&subset=latin-ext');

/* Variables */

$color-light: #fff;
$color-dark: #444;
$title-color: #7ed6df; 
$link-color: #ff7979;

$font-logo: 'Sacramento', cursive;
$font-header: 'Oswald', sans-serif;
$font-text: 'Source Sans Pro', sans-serif;

/* Global */

*, *::before, *::after {
  box-sizing: border-box;
}


.logo {
  color: $title-color;
}


body {
  background-color: $color-light;
  font-family: $font-text;
  color: $color-dark;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.8;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: $color-dark;
}

a, li {
  transition: .3s all;
  &:hover{
    color: $link-color;
  }
}

.section-title {
  font-size: 22px;
  text-transform: uppercase;
  font-family: $font-header;
  color: $title-color;
  font-weight: 600;
  span {
    text-transform: none;
    font-weight: 400;
    color: lighten($color-dark, 20%);
  }
}

/* Layout */

.wrapper {
  display: flex;
  margin-left: 10px;
}

.sidebar {
  flex: 1 0 0;
}

.posts {
  flex: 2 0 0;
  position: relative;
}

.sidebar, .posts {
  
  margin: 40px;
  margin-right: 50px;
}
.posts {
  line-height: 1.9;
}
.sidebar {
  font-size: 18px;
}

/* Logo */

.logo {
  font-family: $font-logo;
  font-weight: 400;
  font-size: 104px;
  line-height: 1;
  text-align: center;
}

/* Lists */

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  
  li {
    padding: 20px 20px 20px 0;
  }
  .active {
    font-weight: bold;
    color: $link-color;
  }
}

.list-horizontal {
  li {
    display: inline-block;
  }
}

/* Authors */

.authors {
  li {
    margin-bottom: 12px;
  }
}

/* Post */
.post {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: 1s all linear;
  &.active {
    opacity: 1;
    z-index: 1;
  }
}

.post-author {
  font-style: italic;
}

.post-tags {
  display: flex;
  p {
    margin: 0 10px 0 0;
  }
}
